@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #607d8b;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #FFF;
  border-radius: 5pt;
  box-shadow: 0 0 5pt #0003;
  padding: 20pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 0;
  margin-bottom: 16pt;
}

.subtitle {
  margin-top: 16pt;
  margin-bottom: 12pt;
}

.input-row {
  display: flex;
  align-items: center;
  margin: 8pt 0;
}

.url-label {
  margin-right: 8pt;
}

.url-input {
  font-size: 12pt;
  padding: 4pt;
  flex-grow: 1;
  min-width: 40vw;
}

.link-info {
  display: flex;
}

.link-info .labels {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-right: 8pt;
}

.link-info .values {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#link-info-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
